<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Create or Update Personne:</h1>

{{ form_start(form) }}

<table>
  <tbody>
    <tr>
      <th>Nom:</th>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th>Personne:</th>
      <td>{{ form_widget(form.personne) }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ form_widget(form.email) }}</td>
    </tr>
    
      <th></th>
      <td>{{ form_widget(form.save) }}</td>
    </tr>
  </tbody>
</table>

{{ form_end(form) }}
